@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
body{
    margin: 0;
    font-family: 'Cabin', sans-serif;
    background-color: black;
}
/* Header */
.header{
    width: 25%;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #232946;
    color: #fffffe;
}
.header-cv__padding{
    padding: 30px;
}
/* Header - Avatar Box */
.cv-avatar-box{
    position: relative;
    width: 180px;
    height: auto;
    margin: auto;
    text-align: center;
}
.cv-avatar-box img{
    border-radius: 50%;
    max-width: 100%;
}
.cv-avatar-name {
    font-size: 24px;
    padding: 15px 0;
}
/* Header - Navs */
.cv-navs_items{
    font-size: 18px;
    margin-bottom: 5px;
    padding: 10px;
}
/* Header - Contacts */
.cv-footer_contact{
    font-size: 20px;
    text-align: center;
}
/* Content */
.content{
    width: 75%;
    background-color: #b8c1ec;
    float: right;
    padding: 30px;
    box-sizing: border-box;
}
.content_cv-title{
    color: #232946;
    font-size: 24px;
    text-transform: uppercase;
}
.cv_flex-infor
/* Content - About me */
.about-me_information{
    display: flex;
}
/* Education */
