.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(100%/12),1fr));
    gap: 16px;
    max-width: 1200px;
    margin: 0 auto;
    justify-items: center;
}
.item-12 {
    grid-column: 1/12;
    text-align: center;
}
.item-6 {
    grid-column: 1/6;
}
.test-img {
    max-width: 100%;
    max-height: 600px;
}
.test-img img {
    object-fit: contain;
    max-height: 600px;
    max-width: 100%;
}
.test__title {
    text-align: center;
}