@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@keyframes header-img {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
    100% {
        opacity: 1;
    }
}
@keyframes header-text {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
    100% {
        opacity: 1;
    }
}
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cabin', sans-serif;
    background-color: #444444;
    color: #c8c8c8  ;
    background-image: url(/cv/img/cv_bg.png);
    background-size: contain;
}
ul {
    padding: 0;
}
ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 10px 0;
}
h1,h2,h3,h4,h5,h6 {
    color: white;
}
h3 span {
    color:#04b4e0;
}
a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}
.elements--margin {
    margin-top: 10px;
    margin-bottom: 10px;
}
.wrap-box--bordering {
    border: solid 3px #444;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #222222;
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.7);
}
.contact-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px 20px;
    margin: 5px 10px;
    background-color: #222;
    border: solid 2px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    z-index: 999;
    opacity: 0.6;
    animation: .3s ease;
}
.contact-btn:hover {
    opacity: 1;
}
/* Header */
.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box__img {
    height: 150px;
    border-radius: 50%;
    border: solid 3px #04b4e0;
    animation: header-img 1s;
    z-index: 1;
}
.box__text {
    opacity: 0;
    animation: header-text 1s ease 0.5s forwards;
    margin: 0 20px;
    z-index: 0;
}
.box__text__social {
    font-size: 20px;
}
.social__link:nth-child(2) {
    margin: 0 10px;
}
.social__link:hover {
    color: #04b4e0;
}

/* About me CSS */
.basic-info__title {
    color: #04b4e0;
    font-weight: 700;
    margin: 0 3px;
}
.basic-info__text {
    margin: 0 3px;
}

/* What I do CSS*/
.what-i-do {
    padding-top: 10px;
    padding-bottom: 10px;
}
.what-i-do__icon {
    color: #04b4e0;
    font-size: 42px;
}
.what-i-do__title {
    margin: 5px 0;
}
/* Resume CSS */
/* Timeline CSS */
.timeline__items {
    display: flex;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}
.timeline__item-left{
    flex: 0 0 25%;
    text-align: right;
    padding-right: 20px;
    color: #a5a6a7;
    font-size: 14px;
}
.timeline__item-left__time{
    font-weight: 700;
}
.timeline__items__divider {
    width: 1px;
    background-color: #444;
    position: absolute;
    left: 25%;
    top: 0;
    bottom: 0;
}
.timeline__items__divider::before {
    content: '';
    position: absolute;
    width: 21px;
    height: 21px;
    background-color: #04b4e0;
    display: block;
    margin-top: 10px;
    margin-left: -10px;
    opacity: 0.3;
    border-radius: 50%;
}
.timeline__items__divider::after {
    content: '';
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: #222222;
    margin-top: 13px;
    display: block;
    margin-left: -7px;
    border: solid 2px #04b4e0;
    border-radius: 50%;
}
.timeline__item-right {
    flex: 0 0 calc(100% - 25% - 1px);
    padding-left: 20px;
}
.timeline__item-right__title {
    color: white;
    font-weight: 600;
    margin-bottom: 3px;
}
.timeline__item-right__text {
    font-size: 15px;
}
/* Skills CSS */
.skill-list__item {
    display: inline-block;
    background-color: #04b4e0;
    padding: 2px 7px;
    border-radius: 3px;
    color: white;
    margin: 5px 0;
    cursor: pointer;
    transition: .2s ease;
}
.skill-list__item:hover {
    box-shadow: 0 0 2px 1px #333;
    transform: scale(1.02);
}
/* Certificate */
.certificate {
    display: flex;
    border: solid 3px;
    border-radius: 10px;
    margin: 10px 0;
}
.certificate__logo {
    width: 120px;
    height: 117px;
    background-size: cover;
    border-right: solid 3px;
    overflow: hidden;
}
.certificate__logo__img{
    height: 100%;
    width: 100%;
}
.certificate__content {
    padding: 25px 20px;
}
.certificate__content__title {
    color: white;
    font-weight: 700;
    margin-bottom: 5px;
}
.certificate__content__tagline,
.certificate__content__time {
    font-size: 14px;
}
/* Project */
.project {
    position: relative;
    background-color: #04b4e0;
    overflow: hidden;
    max-height: 300px;
    height: 100%;
    cursor: pointer;
    text-align: center;
    transition: all .2s ease-in-out;
    margin: 10px 0;
}
.project:hover {
    transform: translateY(-2%);
}
.project__img {
    max-height: 300px;
}
.project:hover .project__img {
    opacity: 0.3;
}
.project__content,
.project__cta {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.project__content {
    top: 0;
    border: solid 2px #04b4e0;
    background-color: #333333;
    border-radius: 10px;
    margin: 10px 0;
    padding: 0 10px;
    padding-bottom: 10px;
    width: 65%;
}
.project:hover .project__content {
    border-color: #d5d5d5;
}
.project .tag {
    margin-top: 20px;
    margin: auto;
    padding: 2px 7px;
    border-radius: 3px;
    color: white;
}
.project__cta {
    bottom: 0;
    padding: 10px 20px;
    border: solid 2px #d5d5d5;
    color: #d5d5d5;
    border-radius: 20px;
    margin: 10px 0;
    background-color: #333333;
    opacity: 0;
    transition: all .2s ease;
    width: 65%;
}
.project__cta:hover {
    background-color: #d5d5d5;
    color: #333333;
}
.project:hover .project__cta {
    opacity: 1;
}
.project__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 0.4;
}
.project:hover .project__cover {
    display: none;
}
.popup__cover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99998;
    display: none;
}
.popup__content {
    position: fixed;
    top: 5%;
    bottom: 5%;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1024px;
    background-color: white;
    z-index: 99999;
    margin: 0 calc((100% - 1024px)/2 - 8px);
    display: none;
    overflow-x: hidden;
    overflow-y: scroll;
}
.popup__content__close-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    margin-right: 10px;
    text-align: center;
    width: 20px;
    cursor: pointer;
}
.popup__content__close-button:hover {
    color: black;
}
.popup__content__box__img {
    max-width: 100%;
}
.popup__content__box__content {
    max-width: 800px;
    margin: auto;
}
.popup__content__box__content .popup__content__box__content__text--black {
    color: black;
}
.popup__content__box__content .popup__content__box__content__text_hover--blue:hover {
    color: #04b4e0;
}
.popup-box:checked ~ .popup__cover,
.popup-box:checked ~ .popup__content {
    display: block;
}

/* Potato PC */
@media (max-width : 992px) {
    .popup__content {
        max-width: 700px;
        background-color: white;
        margin-left: calc((100% - 700px)/2 - 8px);
    }
}

/* Tablet */
@media (max-width : 767px) {
    .box {
        flex-direction: column;
    }
    .box__text__name {
        text-align: center;
    }
    .box__text__social {
        text-align: center;
    }
    .basic-info__title {
        margin: 0;
    }
    .timeline__items {
        flex-direction: column;
        margin: 0 10px;
    }
    .timeline__items__divider {
        left: 15%;
    }
    .timeline__item-left,
    .timeline__item-right {
        text-align: left;
        margin-left: 15%;
        padding-left: 20px;
        padding-bottom: 5px;
    }
    .popup__content {
        width: inherit;
        background-color: white;
        margin-left: 8px;
        margin-right: 8px;
    }
    .popup__content__box__content {
        max-width: 600px;
    }
}

@media (min-width : 768px) {
    .box {
        min-height: 200px;
    }

    .popup__content__close-button {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 30px;
        margin-right: 10px;
        text-align: center;
        width: 20px;
        cursor: pointer;
    }
    .popup__content__close-button:hover {
        color: black;
    }
    .popup__content__box__img {
        max-width: 100%;
    }
    .popup__content__box__content {
        max-width: 800px;
        margin: auto;
    }
}

/* Big Mobile */
@media (max-width : 577px) {
    .wrap-box--bordering {
        padding-left: 8px;
        padding-right: 8px ;
    }
    .popup__content {
        width: inherit;
        background-color: white;
    }
}