.grid {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;
}
.row.gutters-none {
  margin-left: 0;
  margin-right: 0;
}

.col {
  padding-left: 4px;
  padding-right: 4px;
}

.m-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
  display: block;
}

.m-block-1 {
  margin-left: 8.33333%;
}

.m-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
  display: block;
}

.m-block-2 {
  margin-left: 16.66667%;
}

.m-3 {
  flex: 0 0 25%;
  max-width: 25%;
  display: block;
}

.m-block-3 {
  margin-left: 25%;
}

.m-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  display: block;
}

.m-block-4 {
  margin-left: 33.33333%;
}

.m-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
  display: block;
}

.m-block-5 {
  margin-left: 41.66667%;
}

.m-6 {
  flex: 0 0 50%;
  max-width: 50%;
  display: block;
}

.m-block-6 {
  margin-left: 50%;
}

.m-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
  display: block;
}

.m-block-7 {
  margin-left: 58.33333%;
}

.m-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
  display: block;
}

.m-block-8 {
  margin-left: 66.66667%;
}

.m-9 {
  flex: 0 0 75%;
  max-width: 75%;
  display: block;
}

.m-block-9 {
  margin-left: 75%;
}

.m-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
  display: block;
}

.m-block-10 {
  margin-left: 83.33333%;
}

.m-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
  display: block;
}

.m-block-11 {
  margin-left: 91.66667%;
}

@media (min-width: 576px) {
  .wide {
    max-width: 600px;
  }
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
  .col {
    padding-left: 8px;
    padding-right: 8px;
  }
  .bm-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    display: block;
  }
  .bm-block-1 {
    margin-left: 91.66667%;
  }
  .bm-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    display: block;
  }
  .bm-block-2 {
    margin-left: 83.33333%;
  }
  .bm-3 {
    flex: 0 0 25%;
    max-width: 25%;
    display: block;
  }
  .bm-block-3 {
    margin-left: 75%;
  }
  .bm-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    display: block;
  }
  .bm-block-4 {
    margin-left: 66.66667%;
  }
  .bm-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    display: block;
  }
  .bm-block-5 {
    margin-left: 58.33333%;
  }
  .bm-6 {
    flex: 0 0 50%;
    max-width: 50%;
    display: block;
  }
  .bm-block-6 {
    margin-left: 50%;
  }
  .bm-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    display: block;
  }
  .bm-block-7 {
    margin-left: 41.66667%;
  }
  .bm-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    display: block;
  }
  .bm-block-8 {
    margin-left: 33.33333%;
  }
  .bm-9 {
    flex: 0 0 75%;
    max-width: 75%;
    display: block;
  }
  .bm-block-9 {
    margin-left: 25%;
  }
  .bm-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    display: block;
  }
  .bm-block-10 {
    margin-left: 16.66667%;
  }
  .bm-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    display: block;
  }
  .bm-block-11 {
    margin-left: 8.33333%;
  }
  .bm-12 {
    flex: 0 0 100%;
    max-width: 100%;
    display: block;
  }
  .bm-block-12 {
    margin-left: 0%;
  }
}

@media (min-width: 768px) {
  .wide {
    max-width: 720px;
  }
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  .t-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    display: block;
  }
  .t-block-1 {
    margin-left: 91.66667%;
  }
  .t-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    display: block;
  }
  .t-block-2 {
    margin-left: 83.33333%;
  }
  .t-3 {
    flex: 0 0 25%;
    max-width: 25%;
    display: block;
  }
  .t-block-3 {
    margin-left: 75%;
  }
  .t-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    display: block;
  }
  .t-block-4 {
    margin-left: 66.66667%;
  }
  .t-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    display: block;
  }
  .t-block-5 {
    margin-left: 58.33333%;
  }
  .t-6 {
    flex: 0 0 50%;
    max-width: 50%;
    display: block;
  }
  .t-block-6 {
    margin-left: 50%;
  }
  .t-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    display: block;
  }
  .t-block-7 {
    margin-left: 41.66667%;
  }
  .t-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    display: block;
  }
  .t-block-8 {
    margin-left: 33.33333%;
  }
  .t-9 {
    flex: 0 0 75%;
    max-width: 75%;
    display: block;
  }
  .t-block-9 {
    margin-left: 25%;
  }
  .t-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    display: block;
  }
  .t-block-10 {
    margin-left: 16.66667%;
  }
  .t-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    display: block;
  }
  .t-block-11 {
    margin-left: 8.33333%;
  }
  .t-12 {
    flex: 0 0 100%;
    max-width: 100%;
    display: block;
  }
  .t-block-12 {
    margin-left: 0%;
  }
}

@media (min-width: 992px) {
  .wide {
    max-width: 960px;
  }
  .row {
    margin-left: -16px;
    margin-right: -16px;
  }
  .col {
    padding-left: 16px;
    padding-right: 16px;
  }
  .ppc-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
    display: block;
  }
  .ppc-block-1 {
    margin-left: 91.66667%;
  }
  .ppc-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    display: block;
  }
  .ppc-block-2 {
    margin-left: 83.33333%;
  }
  .ppc-3 {
    flex: 0 0 25%;
    max-width: 25%;
    display: block;
  }
  .ppc-block-3 {
    margin-left: 75%;
  }
  .ppc-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    display: block;
  }
  .ppc-block-4 {
    margin-left: 66.66667%;
  }
  .ppc-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
    display: block;
  }
  .ppc-block-5 {
    margin-left: 58.33333%;
  }
  .ppc-6 {
    flex: 0 0 50%;
    max-width: 50%;
    display: block;
  }
  .ppc-block-6 {
    margin-left: 50%;
  }
  .ppc-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
    display: block;
  }
  .ppc-block-7 {
    margin-left: 41.66667%;
  }
  .ppc-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
    display: block;
  }
  .ppc-block-8 {
    margin-left: 33.33333%;
  }
  .ppc-9 {
    flex: 0 0 75%;
    max-width: 75%;
    display: block;
  }
  .ppc-block-9 {
    margin-left: 25%;
  }
  .ppc-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
    display: block;
  }
  .ppc-block-10 {
    margin-left: 16.66667%;
  }
  .ppc-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
    display: block;
  }
  .ppc-block-11 {
    margin-left: 8.33333%;
  }
  .ppc-12 {
    flex: 0 0 100%;
    max-width: 100%;
    display: block;
  }
  .ppc-block-12 {
    margin-left: 0%;
  }
}
