body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/side-project/baitap/quanlyanh/hmh.658d090.jpg");
    background-size: 200px;
}
* {
    box-sizing: border-box;
}
p {
    margin: 0;
    padding: 0;
}
.input-container,
.output-container {
    max-width: 1200px;
    margin: auto;
    border: solid 1px black;
    margin-bottom: 50px;
    background-color: white;
}
.input-container {
    padding: 30px;
}
.output-container {
    border-radius: 10px;
}
.input_item-btn,
.input__item-name-block,
.input__item-category-block {
    align-self: center;
}
.input_item-btn {
    justify-self: center;
}
.input-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.input__title {
    font-weight: 700;
    padding: 2px;
    margin: 2px;
}
.input-items {
    width: 200px;
    cursor: pointer;
}
.output__header,
.output__content {
    display: grid;
    grid-template-columns: 6% repeat(2,1fr) 30% 20%;
    gap: 1rem;
    padding: 30px;
}
.output__header{
    font-weight: 700;
    border-bottom: solid 1px black;
}
.output__content {
    border-bottom: solid 1px black;
}
.output__content:last-child {
    border-bottom: none;
}
.output__content:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.output__content:hover {
    cursor: pointer;
    background-color: #f4f4f7;
}
.output-items {
    align-self: center;
}
.output-items .input-items {
    width: 150px;
}
.input__image--preview {
    max-height: 100px;
}
/* Submit BTN */
.btn {
    padding: 10px 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    margin: 5px;
}
.input__btn {
    background-color: #007bff;
    padding: 15px 25px;
}
.input__btn:hover {
    background-color: #0069d9;
}
/* Edit BTN */
.btn__edit {
    background-color: #007bff;
}
.btn__edit:hover {
    background-color: #0069d9;
}
/* Delte BTN */
.btn__delete {
    background-color: #dc3545;;
}
.btn__delete:hover {
    background-color: #c82333;
}
/* Save BTN */
.btn__save {
    background-color: #28a745;
}
.btn__save:hover {
    background-color: #218838;
}
/* Cancel BTN */
.btn__cancel{
    background-color: #6c757d;
}
.btn__cancel:hover {
    background-color: #5a6268;
}

.input-items {
    padding: 10px 20px;
}

.input-items:disabled {
    color: black;
    opacity: 1;
}

.warning-text {
    color: red;
}