body {
    font-family: Arial, Helvetica, sans-serif;
}
p {
    margin: 0;
    padding: 0;
}
.input-container,
.output-container {
    max-width: 1200px;
    margin: auto;
    border: solid 1px black;
    padding: 30px;
    margin-bottom: 50px;
}
.input_item-btn,
.input__item-name-block,
.input__item-category-block {
    align-self: center;
}
.input_item-btn {
    justify-self: center;
}
.input-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.output__header,
.output__content {
    display: grid;
    grid-template-columns: 10% repeat(2,1fr) 30% 20%;
    gap: 1rem;
}
.output__header{
    font-weight: 700;
    border-bottom: solid 1px black;
    padding: 0 20px 10px 20px;
}
.output__content {
    margin: 10px 0;
    padding: 0 20px;
}
.output-items {
    padding: 10px;
}
.input__image--preview {
    max-height: 100px;
}
.btn {
    padding: 10px 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
}
.input__btn {
    background-color: #007bff;
    padding: 15px 25px;
}
.btn__edit {
    background-color: #007bff;
}
.btn__delete {
    background-color: #dc3545;;
}
.btn__save {
    background-color: #28a745;
}
.btn__cancel{
    background-color: #6c757d;
}
.input-items {
    padding: 10px 20px;
}