.grid {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -4px;
  margin-right: -4px;

  &.gutters-none {
    margin-left: 0;
    margin-right: 0;
  }
}
.col {
  padding-left: 4px;
  padding-right: 4px;
}
@for $i from 1 through 11 {
  $width: percentage($i / 12);
 .m-#{$i} {
   flex: 0 0 $width;
   max-width: $width;
   display: block;
 }
 .m-block-#{$i} {
   margin-left: $width;
 } 
}
@media (min-width: 576px) {
  .wide {
    max-width: 600px;
  }
  .row {
    margin-left: -8px;
    margin-right: -8px;
  }
  .col {
    padding-left: 8px;
    padding-right: 8px;
  }
  @for $i from 1 through 12 {
    $width: percentage($i / 12);
   .bm-#{$i} {
     flex: 0 0 $width;
     max-width: $width;
     display: block;
   }
   .bm-block-#{$i} {
     margin-left: 100% - $width;
   } 
  }
}
@media (min-width: 768px) {
  .wide {
    max-width: 720px;
  }
  .row {
    margin-left: -12px;
    margin-right: -12px;
  }
  .col {
    padding-left: 12px;
    padding-right: 12px;
  }
  @for $i from 1 through 12 {
    $width: percentage($i / 12);
   .t-#{$i} {
     flex: 0 0 $width;
     max-width: $width;
     display: block;
   }
   .t-block-#{$i} {
     margin-left: 100% - $width;
   } 
  }
}
@media (min-width: 992px) {
  .wide {
    max-width: 960px;
  }
  .row {
    margin-left: -16px;
    margin-right: -16px;
  }
  .col {
    padding-left: 16px;
    padding-right: 16px;
  }
  @for $i from 1 through 12 {
    $width: percentage($i / 12);
   .ppc-#{$i} {
     flex: 0 0 $width;
     max-width: $width;
     display: block;
   }
   .ppc-block-#{$i} {
     margin-left: 100% - $width;
   } 
  }
}