body {
    margin: 0;
}
* {
    box-sizing: border-box;
}
.grid {
    width: 100%;
    margin: auto;
}
.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
/* Mobile */
@media (min-width : 576px) {
    .grid {
        max-width: 600px;
    }
}
/* Tablet */
@media (min-width : 768px) {
    .grid{
        max-width: 720px;
    }
}

/* Potato PC */
@media (min-width : 992px) {
    .grid {
        max-width: 960px;
    }
}

/* Tesla PC */
@media (min-width : 1200px)   {
    .grid {
        max-width: 1200px;
    }
}